body {
}

#container {
  width: 100%;
  text-align: center;
}

#menuColumn {
}

#viewColumn {
  text-align: center;
  line-height: 0px;
}

#displayColumn {
}

#menuPane {
  width: 100%;
}

.menu-container {
  width: 100%;
  display: none;
}

.nopadding {
  padding: 0px;
  margin: 0px;
}

.pane {
  width: 100%;
}

.divider {
  width: 100%;
  border-bottom: solid 1px;
  border-color: #999999;
  margin-top: 10px;
  margin-bottom: 10px;
}

.full-btn {
  width: 100%;
}
