body {
}

#container {
  width: 100%;
  text-align: center;
}

#viewColumn {
  text-align: center;
  line-height: 0px;
}

#menuPane {
  width: 100%;
  overflow-y: auto;
}

#statusPane {
  width: 100%;
  overflow-y: auto;
}

#buildMenu > h4 {
  font-size: 12px;
}

#buildMenu > div > a {
  font-size: 8px;
}

#statusHeader > h4 {
    margin-top: 0px;
}

.menu-container {
  width: 100%;
  display: none;
  text-align: center;
}

.status-container {
  width: 100%;
  display: none;
}

.nopadding {
  padding: 0px;
  margin: 0px;
}

.pane {
  width: 100%;
}

.divider {
  width: 100%;
  border-top: solid 1px;
  border-color: #999999;
  margin-top: 10px;
  padding-bottom: 10px;
}

.full-btn {
  width: 100%;
}

.meter {
  margin-right: 10px;
}
