body {
}

#container {
  width: 100%;
  text-align: center;
}

#viewColumn {
  text-align: center;
  line-height: 0px;
}

#menuPane {
  overflow-y: auto;
}

#statusPane {
  overflow-y: auto;
}

#buildMenu > h4 {
  font-size: 12px;
}

#buildMenu > div > a {
  font-size: 8px;
}

#statusHeader > h4 {
  margin-top: 0px;
}

.menu-container {
  display: none;
  text-align: center;
}

.status-container {
  display: none;
}

.nopadding {
  padding: 0px;
  margin: 0px;
}

.divider {
  border-top: solid 1px;
  border-color: #999999;
  margin-top: 10px;
  padding-bottom: 10px;
}

.meter {
  margin-right: 10px;
}

.table-cell {
  font-size: 1.3vw;
  padding: 0px;
  margin: 0px;
}

.coin {
  color: #008800;
  font-size: 1.1vw;
}

#login-container {
  max-width: 800px;
  min-width: 300px;
  text-align: center;
}

#button-container {
  text-align: center;
}

.alert {
  text-align: left;
}

.jobs-btn {
  text-align: left;
  font-size: 1.3vw;
  padding: 0.3vw;
}

.icon {
    width: 5.5vw;
    height: 5.5vw;
    margin-right: 1.0vw;
    margin-left: 0px;
}
