{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>Satellite</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable= no"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <div id="content" class="container-fluid">
      <h1>Welcome to the login page!</h1>
    </div>
  </body>
</html> 
